body.conphig-admin {
  .sorting-indicator:before{
    font: normal 16px / 1 dashicons;
    top: -8px;
  }
  #list-table-wrapper{
    border: none;
  }
  #list-table-wrapper .wp-list-table,
  .wp-list-table{

    margin: 0;
    border-radius: var(--conphig-border-radius-lg);
    border: none;
    overflow: hidden;
    box-shadow: var(--conphig-shadow);

    thead th,
    thead td,
    tfoot th,
    tfoot td{
      height: 48px;
      box-sizing: border-box;
      background-color: #F9FAFB;
      border-color: #EAECF0;
      font-size: var(--conphig-table-font-size-xs);

      font-weight: var(--conphig-font-weight-bolder);
      text-transform: uppercase;
      vertical-align: middle;
      letter-spacing: 0.5px;

      .sorting-indicators{
        margin-top: -3px;
        margin-left: -1px;
      }
    }

    td,
    td ol,
    td p,
    td ul{
      font-size: var(--conphig-table-font-size);
      line-height: 1.32;

      .post-state{
        border-radius: var(--conphig-border-radius-md);
        font-weight: var(--conphig-font-weight-bolder);
        color: var(--tw-gray-500-dark);
        padding: var(--conphig-spacing-px) calc( var(--conphig-spacing-px) * 2 );
      }
      .post-state, .post-state *{
        font-size: var(--conphig-table-font-size-sm)!important;
      }
    }

    td{
      vertical-align: top;
      input[type="text"]{
        font-size: var(--conphig-table-font-size-md);
        padding: var(--conphig-spacing-1);
        min-height: var(--conphig-spacing-5);
        line-height: 1;
      }

      /**
        * General columns
        */
      &.column-date{
        font-size: var(--conphig-table-font-size-sm);
      }
    }
    .asenha-featured-image img{
      width: 70px;
      border-radius: var(--conphig-border-radius-md);
    }


  }

  /**
    * Column specifics
    */
  .widefat{
    /**
    * Post ID
    */
    td.column-postid, th.column-postid{
      font-size: var(--conphig-table-font-size-sm);
      white-space: nowrap;
      a{
        padding-right: 0;
      }
    }
    /**
    * Plugin: description
    */
    td.column-description{
      font-size: var(--conphig-table-font-size);
      .plugin-description{
        font-size: var(--conphig-table-font-size-xs);
      }
      .plugin-version-author-uri{
        font-size: var(--conphig-table-font-size-sm);
      }
    }
    /**
    * ACF JSON
    */
    th.column-acf-json{
      width: 130px;
    }
    td.column-acf-json{
      font-size: var(--conphig-table-font-size-sm);

    }

    td.column-title{
      strong {
        font-size: var(--conphig-table-font-size-sm);
        margin-bottom: var(--conphig-spacing-1);

        a{
          display: block;
          font-size: var(--conphig-table-font-size-md);
          // margin: var(--conphig-spacing-1)  var(--conphig-spacing-1) var(--conphig-spacing-1) 0;
          margin: 0;
          &:after{
            content: "\A ";
            display: block;
            width: 100%;
          }
        }
      }
    }
    td.date,
    td.column-date,
    td#cb{
      width: 30px;
      input{
        margin-top: -5px;
      }
    }
  } // .widefat
}





